<div class='post-wrapper <%= post.whisper? ? "whisper" : "" %> <%= use_excerpt ? "excerpt" : ""%>'>
  <table>
    <tr>
      <td class='user-avatar'>
        <img src="<%= post.user.small_avatar_url %>" title="<%= post.user.username%>">
      </td>
      <td>
        <%- if show_name_on_post(post) %>
          <a class="user-name" target="_blank"><%=post.user.name %></a>
        <% end %>
        <br>
        <span class='notification-date'><%= l post.created_at, format: :short_no_year %></span>
      </td>
    </tr>
  </table>
  <div class='body'><%= format_for_email(post, use_excerpt) %></div>
</div>
